.main {
  margin: 0 auto;
  max-width: calc(600px + 2rem);
  padding: 0 1rem;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.footer {
  margin: 3rem auto 1rem;
  max-width: calc(600px + 2rem);
  padding: 0 1rem;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer::before {
  content: '';
  flex-grow: 1;
  height: 12px;
  margin: 11px 12px 0 0;
  border: solid 1px var(--bluegray-200);
  border-bottom: 0;
  border-right: 0;
  border-top-left-radius: 16px;
}

.footer::after {
  content: '';
  flex-grow: 1;
  height: 12px;
  margin: 11px 0 0 12px;
  border: solid 1px var(--bluegray-200);
  border-bottom: 0;
  border-left: 0;
  border-top-right-radius: 16px;
}

.footer em {
  color: var(--bluegray-400);
}
